[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ggmuller"]
	path = ggmuller
	url = https://github.com/robjohnnoble/ggmuller
	shallow = true
	registered = true
